{% extends "base.html" %}
{% block blog_content %}
{% load static %}
<div class="col content offset-sm-2">

    {% for post in object_list %}
    <br>
    <div class="card container-fluid post-card border rounded">
        <img class="card-img-top img-fluid" src="{% static "images/" %}{{post.title_img}}" alt="Card image cap">
        <div class="card-body">
            <a href="{{ post.get_absolute_url }}"><h4 class="card-title">{{ post.title }}</h4></a>
            <h7 class="card-subtitle"><span class="glyphicon glyphicon-time"></span> Post by {{ post.author }}, {{ post.create_date }}.</h7>
            <h5><span class="badge badge-danger">Food</span> <span class="badge badge-primary">Ipsum</span></h5><br>
        </div>
    </div>
    {% endfor %}
    
</div>
{% endblock %}