<div class="col-sm-2 text-center sidenav border-right" id="menu">
    <br><br>
    <div class="sidenav-content">
      <a class="navbar-brand text-white" href="{% url 'home' %}"><h2>PickleBit</h2></a>
      <br>
      <br>
      <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" href="{% url 'blog' %}">Blog</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About Us</a></li>
      </ul>
    </div>
    <br>
    <div class="footer">
      <span class="text-muted bottom">Copyright PickleBit 2018</span>
    </div>
</div>