<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
    html {
        position: relative;
        min-height: 100%;
    }
    body {
        background-color: #f1f1f1;
        margin-bottom: 40px;
        font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    }
    /* Set gray background color and 100% height */

    a {
        color: #222;
    }
    a:hover {
        color: #222;
        text-decoration: none;
    }
    h7 {
        font-size: 10pt;
        font-style: italic;
    }

    .content {
        padding: 0 50px 0 50px;
    }
    /* Set black background color, white text and some padding */
    .footer {
        position: absolute;
        bottom: 0;
        color: #000;
        height: 40px; /* Set the fixed height of the footer here */
        line-height: 40px; /* Vertically center the text there */
        font-size: 12px;

    }
    .sidenav {
        height: 100%;
        position: fixed;
        background-color: #222;
    }
    .sidenav a {
        color: #8C8C7B;
    }

    .post-card {
        padding: 20px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 750px) {
    .sidenav {
        position: static;
    }
    .row.content {
        height: auto;
    }
    }

</style>
